{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load number_extras %}

{% block page_content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Total Contributor's Purchases Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Your Total Purchases
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                Shs. {{ report.contributor_order_cost|round_dec|intcomma }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comment-dollar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Total Contributor's Expenses Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Your Total Expenses
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                Shs. {{ report.contributor_expenses|round_dec|intcomma }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-coins fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Total Contributor's Investment Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Your Total Investment
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                Shs. {{ report.contributor_investment_amount|round_dec|intcomma }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-hand-holding-usd fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Total Contributor's Profit Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Your Total Profit
                            </div>
                            {% if report.contributor_profit > 0 %}
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    Shs. {{ report.contributor_profit|round_dec|intcomma }}
                                </div>
                            {% else %}
                                <div class="h5 mb-0 font-weight-bold text-danger">
                                    Shs. {{ report.contributor_profit|round_dec|intcomma }}
                                </div>
                            {% endif %}

                        </div>
                        <div class="col-auto">
                            <i class="fas fa-chart-line fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock page_content %}