{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load number_extras %}
{% load string_extras %}

{% block page_styles %}
    <!-- Custom styles for tables -->
    <link href="{% static 'core/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock page_styles %}

{% block page_content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Reports</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Orders Report</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Item</th>
                        <th>Client</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>{{ 'Delivery Date'|nbsp }}</th>
                        <th>{{ 'Order Status'|nbsp }}</th>
                        <th>{{ 'Payment Status'|nbsp }}</th>
                        <th>{{ 'Item Buying Rate'|nbsp }}</th>
                        <th>{{ 'Item Selling Rate'|nbsp }}</th>
                        <th>{{ 'Expected Income'|nbsp }}</th>
                        <th>{{ 'Order Cost'|nbsp }}</th>
                        <th>{{ 'Expenses'|nbsp }}</th>
                        <th>{{ 'Total Contribution'|nbsp }}</th>
                        <th>{{ "Marketeer\'s Amount"|nbsp }}</th>
                        <th>{{ 'Order Profit'|nbsp }}</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Item</th>
                        <th>Client</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>{{ 'Delivery Date'|nbsp }}</th>
                        <th>{{ 'Order Status'|nbsp }}</th>
                        <th>{{ 'Payment Status'|nbsp }}</th>
                        <th>{{ 'Item Buying Rate'|nbsp }}</th>
                        <th>{{ 'Item Selling Rate'|nbsp }}</th>
                        <th>{{ 'Expected Income'|nbsp }}</th>
                        <th>{{ 'Order Cost'|nbsp }}</th>
                        <th>{{ 'Expenses'|nbsp }}</th>
                        <th>{{ 'Total Contribution'|nbsp }}</th>
                        <th>{{ "Marketeer's Amount"|nbsp }}</th>
                        <th>{{ 'Order Profit'|nbsp }}</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for order in orderreport_list %}
                        <tr>
                            <td>{{ order.item|nbsp }}</td>
                            <td>{{ order.client|nbsp }}</td>
                            <td>{{ order.quantity }}</td>
                            <td>{{ order.unit }}</td>
                            <td>{{ order.delivery_date|naturalday|nbsp }}</td>
                            <td>{{ order.fulfilled }}</td>
                            <td>{{ order.payment_status }}</td>
                            <td>{{ order.item_buying_rate|round_dec|intcomma }}</td>
                            <td>{{ order.item_selling_rate|round_dec|intcomma }}</td>
                            <td>{{ order.order_price|round_dec|intcomma }}</td>
                            <td>{{ order.order_cost|round_dec|intcomma }}</td>
                            <td>{{ order.expenses|round_dec|intcomma }}</td>
                            <td>{{ order.order_investment_amount|round_dec|intcomma }}</td>
                            <td>{{ order.marketeer_amount|round_dec|intcomma }}</td>
                            <td>{{ order.profit|round_dec|intcomma }}</td>
                        </tr>
                    {% empty %}
                        <p>No orders data to display</p>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock page_content %}

{% block page_plugins %}
    <!-- Page level plugins -->
    <script src="{% static 'core/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'core/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
{% endblock page_plugins %}

{% block page_scripts %}
    <!-- Page level custom scripts -->
    <script src="{% static 'core/js/demo/datatables-demo.js' %}"></script>
{% endblock page_scripts %}






